.container {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}
.navLink {
  border-left: 1px solid var(--text-color);
  width: 100%;
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-decoration: none;
  color: var(--text-color);
}

.container a:first-child {
  border-left: none;
}

.navLink:hover,
.navLink:active {
  color: var(--primary-color);
}
