.SocialLogin {
  border-top: 0.1em solid var(--hint-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0.8em 2.3em;
}

.SocialLogin__title {
  padding: 0.2em 1.5em;
  background-color: var(--background-color);
  margin-top: -0.8em;
  text-align: center;
  color: var(--text-color);
  grid-column: 1/3;
}

.SocialLogin__link1 {
  justify-self: end;
}

.SocialLogin__link2 {
  justify-self: start;
}
