.container {
  height: 100vh;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3em 0 0 1.3em;
}
