.container {
  height: 100vh;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
  margin: 0 1.5em;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3em 0 0 1.3em;
}

.heading {
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--text-color);
}

.text {
  font-size: 0.8em;
  color: var(--hint-color);
  line-height: 1.5em;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 1.5em;
  margin-top: 2em;
}
