.container {
  text-align: center;
}

.episodesHeadline {
  text-align: left;
  padding-left: 0.5em;
  padding-left: 1rem;
  font-size: 1.1rem;
}

.movieDescription {
  padding: 0 2em;
  text-align: left;
  padding-left: 1rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
