.container {
  display: grid;
  text-align: center;
  width: 6em;
  grid-template-rows: 8rem auto;
}

.container__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container__name {
  font-size: 0.8rem;
  margin-top: 3%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
