.container {
  color: var(--color-text);
  display: grid;
  gap: 0.7em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
}

.container__input {
  color: var(--color-text);
  background-color: var(--color-secondary);
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 0.8em;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.2em;
}

.container__input::placeholder {
  color: var(--color-hint);
  font-family: var(--font-family);
  text-transform: lowercase;
}

.container__input:focus {
  outline-color: var(--color-primary);
}
