.label {
  background: var(--secondary-color);
  display: grid;
  grid-template-columns: 1em auto;
  border-radius: 0.5em;
}

.label__input {
  background: none;
  border: none;
  color: var(--text-color);
  caret-color: var(--primary-color);
}

.label__input::placeholder {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: bold;
  opacity: 50%;
  padding-left: 3px;
  display: flex;
}

.label__icon {
  width: 0.75em;
  padding-left: 0.2em;
  padding-top: 0.25em;
  fill: var(--text-color);
}

.label__iconContainer {
  padding: 2px;
  place-self: center;
}
