.container {
  background: var(--color-background);
  display: grid;
  gap: 1em;
}

.poster {
  width: 100%;
  height: auto;
}

.watchlistTitle {
  font-family: var(--font-family);
  font-size: 0.94em;
  color: var(--color-text);
  margin: 0 1em;
}

.watchlist {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  padding-left: 1em;
  overflow-y: scroll;
  align-items: end;
  padding-bottom: 5em;
}

.watchlist::-webkit-scrollbar {
  display: none;
}
