@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: 'Montserrat', sans-serif;

  /* COLORS */
  --primary-gradient-from: #ffbb3b;
  --primary-gradient-to: #ffa90a;
  --primary-gradient: linear-gradient(
    180deg,
    var(--primary-gradient-from),
    var(--primary-gradient-to)
  );
  --primary-color: #ffbb3b;
  --secondary-color: #212121;
  --text-color: #fff;
  --hint-color: #a3a3a3;
  --contrast-text-color: #000;
  --background-color: #000;
  --navbar-background-color: #1a1a1a;
  --navbar-icon-color: #898989;
  --alert-color: rgb(199, 0, 0);

  /* SIZES */
  --font-size: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    /* COLORS */
    --secondary-color: #f0f0f0;
    --text-color: #5a5a5a;
    --hint-color: #9f9f9f;
    --contrast-text-color: #fff;
    --background-color: #f5f5f5;
    --navbar-background-color: #f0f0f0;
    --navbar-icon-color: #898989;
  }
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
