@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: 'Montserrat', sans-serif;

  /* COLORS */
  --gradient-primary-from: #ffbb3b;
  --gradient-primary-to: #ffa90a;
  --gradient-primary: linear-gradient(
    180deg,
    var(--gradient-primary-from),
    var(--gradient-primary-to)
  );
  --color-primary: #ffbb3b;
  --color-secondary: #212121;
  --color-text: #fff;
  --color-hint: #a3a3a3;
  --color-text-contrast: #000;
  --color-background: #000;
  --color-background-navbar: #1a1a1a;
  --color-navbar-icon: #898989;
  --color-alert: rgb(199, 0, 0);

  /* SIZES */
  --font-size: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    /* COLORS */
    --color-secondary: #f0f0f0;
    --color-text: #5a5a5a;
    --color-hint: #9f9f9f;
    --color-text-contrast: #fff;
    --color-background: #f5f5f5;
    --color-background-navbar: #f0f0f0;
    --color-navbar-icon: #898989;
  }
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
