@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: 'Montserrat', sans-serif;

  /* COLORS */
  --primary-gradient: linear-gradient(180deg, #ffbb3b, #ffa90a);
  --primary-color: #ffbb3b;
  --secondary-color: #212121;
  --text-color: #fff;
  --hint-color: #a3a3a3;
  --contrast-text-color: #000;
  --background-color: #000;

  /* SIZES */
  --font-size: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    /* COLORS */
    --secondary-color: #f0f0f0;
    --text-color: #5a5a5a;
    --hint-color: #9f9f9f;
    --contrast-text-color: #fff;
    --background-color: #f5f5f5;
  }
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}
