.episodeCard {
  background: transparent;
  display: grid;
  grid-template-columns: 15em 1fr;
  column-gap: 0.8em;
  font-size: 3vw;
  text-align: left;
  padding-bottom: 1em;
  padding-left: 1rem;
}

.episodeCard__img {
  grid-row: 1/4;
  width: 100%;
  height: auto;
}

.episodeCard__headline {
  grid-column: 2;
  font-weight: 400;
  margin-bottom: 0;
}

.episodeCard__length {
  grid-column: 2;
  color: var(--hint-color);
  font-weight: 400;
}

.episodeCard__button {
  grid-column: 2;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 9em;
  height: 3em;
  padding: 0;
  gap: 0.6em;
  background-color: transparent;
  color: var(--primary-color);
  border: 0;
  cursor: pointer;
  font-size: 2.5vw;
}

.episodeCard__button_text {
  font-weight: 300;
  text-align: left;
}

.episodeCard__button_favorite {
  width: auto;
  height: 50%;
}
