.SocialLogin {
  border-top: 0.1em solid var(--color-hint);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0.8em 2.3em;
}

.SocialLogin__title {
  padding: 0.2em 1.5em;
  background-color: var(--color-background);
  margin-top: -0.8em;
  text-align: center;
  color: var(--color-text);
  grid-column: 1/3;
}
