.link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-navbar-icon);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  font-size: 0.45em;
  font-weight: bold;
}

.link:hover,
.link:active {
  color: var(--color-primary);
}
