.container {
  display: grid;
  height: 100vh;
  padding: 1em;
  grid-gap: 1em;
}
.main {
  overflow: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}

.movieImage {
  width: 100%;
}

.movieDescription {
  font-weight: 100;
}

.artistCardTitle {
  font-weight: 600;
}

.navBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: bottom;
}
