.container {
  height: 100vh;
}
.main {
  overflow: scroll;
  padding-bottom: 4em;
  display: grid;
}

.main::-webkit-scrollbar {
  display: none;
}

.movieImage {
  width: 100%;
  grid-row: 1;
}

.movieDescription {
  font-weight: 100;
}

.artistCardTitle {
  font-weight: 600;
}

.artistCards {
  display: grid;
  column-gap: 1em;
  width: 100%;
  grid-auto-flow: column;
  overflow: scroll;
}

.artistCards::-webkit-scrollbar {
  display: none;
}

.navBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: bottom;
}

.movieTitle {
  font-size: 1.5em;
}

.movieButton {
  width: 40%;
  justify-self: center;
}
